/* Original work: https://kali.download */

body,html {
    background:#fff;
    font-family:"Bitstream Vera Sans","Lucida Grande","Lucida Sans Unicode",Lucidux,Verdana,Lucida,sans-serif;
}

tr:nth-child(even) {
    background:#f4f4f4;
}

th,td {
    padding:0.1em 0.5em;
}

th {
    text-align:left;
    font-weight:bold;
    background:#eee;
    border-bottom:1px solid #aaa;
}

#list {
    border:1px solid #aaa;
    width:100%;
}

a {
    color: #0361B2;
}

a:hover {
    color: #024580;
}

input + br + input {
	margin-top: 0.4em;
}

input + br + button {
	margin-top: 1em;
}